---
// Courses grid Section
// ------------
// Description: A grid of courses sorted by date in a 3 column layout.
// Properties:
// - data: An array of courses

// Components
// - Layout
import Section from '../../../components/ui/Section.astro'
import Row from '../../../components/ui/Row.astro'
import Col from '../../../components/ui/Col.astro'
// - UI
import Course from '../../../components/ui/cards/CourseCard.astro'
import TagNavigation from '../../../components/ui/courses/TagNavigation.astro'

// Props
type Props = {
	data: any
}
const { data: allCourses } = Astro.props

// Function to sort courses by date
const sortedCourses = allCourses.sort((a: any, b: any) => {
	return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
})
---

<Section>
	<Row>
		<Col span="12">
			<TagNavigation />
		</Col>
		{
			sortedCourses.map((course: any) => (
				<Col span="4">
					<Course
						link={`/courses/${course.id}`}
						title={course.data.title}
						subtitle={`By ${course.data.author} on ${new Date(course.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}`}
						image={course.data.image}
						tags={course.data.tags}
					>
						{course.data.description}
					</Course>
				</Col>
			))
		}
	</Row>
</Section>
